.products-wrap
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  .card
    margin: 20px
    padding: 15px
    .img-wrap
      height: 160px
      display: flex
      justify-content: center
      align-items: center
    img
      max-height: 300px
      max-width: 100%
